html {
  font-size: 62.5%; // 1 rem = 10px
  scroll-behavior: smooth;

  @include responsive(max1200px) {
    font-size: 56.25%; ///// 1 rem = 9px
  }

  @include responsive(max600px) {
    font-size: 50%; ///// 1 rem = 8px
  }

  @include responsive(min1800px) {
    font-size: 68.75%; ///// 1 rem = 11px
  }
}

body {
  box-sizing: border-box;
  display: grid;
  @include grid-columns-primary;
  grid-template-rows: 100vh repeat(auto-fit, min-content);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

* input,
* button {
  cursor: pointer;
  font-family: inherit;
}

* a {
  text-decoration: none;
  color: inherit;
}

* img {
  display: block;
}

.header {
  @include grid-colums-full-center;
}

.about-us {
  @include grid-colums-primary-center;
  @include padding-primary;
}

.offers {
  @include grid-colums-primary-center;
  @include padding-primary;
  padding-top: 0;
}

.people {
  @include grid-colums-primary-center;
  @include padding-primary;
  padding-top: 0;
}

.reviews {
  @include grid-colums-full-center;
  @include padding-primary;
}

.trusted-by {
  @include grid-colums-primary-center;
  justify-self: center;
}

.companies {
  @include grid-colums-full-center;
  @include padding-primary;
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
}

.footer {
  @include grid-colums-full-center;
  @include padding-primary;
}
