.companies {
  @include grid-colums-primary-center;
  position: relative;
  background-color: grey;
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: left;
  align-items: center;
  grid-gap: 2rem;

  &__heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: var(--shadow-3);
    border-radius: 10rem;
    z-index: 10;
  }

  &__logo {
    height: 4rem;
    justify-self: center;
    transition: all var(--trans-dur-primary);

    &:hover {
      transform: scale(1.1);
    }
  }
}
