//--- FLOATS ---//
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

//--- ABSOLUTE POSITION ---//
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//--- FLEX ---//
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//--- GRID ---//
@mixin grid-columns-primary {
  grid-template-columns: 15vw 1fr 15vw;

  @include responsive(px1500) {
    grid-template-columns: 8vw 1fr 8vw;
  }

  @include responsive(px1000) {
    grid-template-columns: 3rem 1fr 3rem;
  }
}

@mixin grid-colums-primary-center {
  grid-column: 2 / 3;
}

//--- SPACE ---//
@mixin margin-top-main {
  margin-top: 12rem;
}

@mixin margin-top-secondary {
  margin-top: 3rem;
}

//--- RESPONSIVE DESIGN ---//
@mixin responsive($breakpoint) {
  @if $breakpoint == px100 {
    @media only screen and (max-width: 6.25em) {
      @content;
    }
  }

  @if $breakpoint == px200 {
    @media only screen and (max-width: 12.5em) {
      @content;
    }
  }

  @if $breakpoint == px300 {
    @media only screen and (max-width: 18.75em) {
      @content;
    }
  }

  @if $breakpoint == px400 {
    @media only screen and (max-width: 25em) {
      @content;
    }
  }

  @if $breakpoint == px500 {
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }

  @if $breakpoint == px600 {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == px700 {
    @media only screen and (max-width: 43.75em) {
      @content;
    }
  }

  @if $breakpoint == px800 {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  @if $breakpoint == px900 {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == px1000 {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }

  @if $breakpoint == px1100 {
    @media only screen and (max-width: 68.75em) {
      @content;
    }
  }

  @if $breakpoint == px1200 {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == px1300 {
    @media only screen and (max-width: 81.25em) {
      @content;
    }
  }

  @if $breakpoint == px1400 {
    @media only screen and (max-width: 87.5em) {
      @content;
    }
  }

  @if $breakpoint == px1500 {
    @media only screen and (max-width: 93.75em) {
      @content;
    }
  }

  @if $breakpoint == px1600 {
    @media only screen and (max-width: 100em) {
      @content;
    }
  }

  @if $breakpoint == px1700 {
    @media only screen and (max-width: 106.25em) {
      @content;
    }
  }

  @if $breakpoint == px1800 {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }

  @if $breakpoint == px1900 {
    @media only screen and (min-width: 118.75em) {
      @content;
    }
  }

  @if $breakpoint == px2000 {
    @media only screen and (min-width: 125em) {
      @content;
    }
  }
}
